body{
    background-image: url(a.jpg);
}
.p1 {
    text-align: center;
    font-family: cursive;
    background: linear-gradient(to top right, black, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    bottom: 0px;
    font-size: 30px;
    font-weight: bolder;
}
.p2 {
    text-align: center;
    font-family: Arial;
    font-weight: bold;  
    background-color: rgba(255, 255, 255, .75);
    border-radius: 20px;
    position: relative;
    padding: 30px;

}
section.s1{
    padding: 0 275px;
    display: flex;
    align-items: center;
    margin: auto;
}
.p3{
    text-align: center;
    font-family: cursive;
    color: red;
    font-size: 30px;
    font-weight: bolder;
}
section.s2{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .75);
    position: relative;
    bottom: 21px;
    padding: 0px;
    max-width: 700px;
    margin: auto;
}
